name: Go Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Run tests with coverage report output
        run: go test -coverprofile=coverage.out
        working-directory: go/
      - uses: k1LoW/octocov-action@v0
        with:
          work-dir: go/
